{% extends 'index.html' %}

{% block content %}

<button>
    <a href="{% url 'create_new_product' %}">
        Add product
    </a>
</button>

<h1>Products</h1>
<ul>
    {% for product in products %}
    <li>
        <a href="{% url 'product' product.name %}">
            {{product.name}} 
        </a>
        
        - {{product.price}} $ - {{product.category.name}} - {{product.date_created}}
    </li>
    {% endfor %}
</ul>


<h1>One product</h1>
<div>
    {{one_product}}
</div>

<h1>Chaep Products</h1>
<div>
    {{cheap_products}}
</div>
{% endblock %}











