{% extends 'index.html' %}

{% block content %}

<button>
    <a href="{% url 'create_new_product' %}">
        Add product
    </a>
</button>

<h1>Products</h1>
<ul>
    {% for product in products %}
    <li>
        <a href="{% url 'product' product.name %}">
            {{product.name}} 
        </a>
        
        - {{product.price}} $ - {{product.category.name}} - {{product.date_created}}  - 
        
        <a href="{% url 'update_product' product.id %}">
            Edit
        </a>
         - - 
        <a href="{% url 'delete_product' product.id %}">
            Delete
        </a>
        - -
        <a href="{% url 'create-review' %}">
            Leave a Review
        </a>
    </li>
    {% endfor %}
</ul>



{% endblock %}











