{% extends 'index.html' %}

{% block content %}

<style>
    .category {
        background-color: aliceblue;
        color:black;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 20px;
        font-size: 1.5rem;
    }

    .categories{
        display:flex;
    }
</style>

<h1>Categories</h1>
<div class="categories">
{% for i in categories %}
<a href="">
<div class="category">
{{i}}
</div>
</a>
{% endfor %}
{% endblock %}
</div>